@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
$defaultShadow: 0 2px 2px rgba(0, 0, 0, .25);
$primaryColor: #212121;
$secondaryColor: #e10b0b;

*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Hammersmith One', sans-serif;
    background: #f7f7f7;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 1296px) {
        max-width: 80%;
        padding: 0;
    }
}